<template name="addBook">
  <form id="add-book" class="add-book-form">
    <div class="form-group">
      <label for="title">{{_ 'add_book.title_label'}}</label>
      <input type="text" class="form-control" name="title" placeholder="{{_ 'add_book.title_placeholder'}}"/>
    </div>
    <div class="form-group">
      <label for="author">{{_ 'add_book.author_label'}}</label>
      <input type="text" class="form-control" name="author" placeholder="{{_ 'add_book.author_placeholder'}}"/>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-block btn-success" value="{{_ 'add_book.action_label'}}" data-loading-text="{{_ 'add_book.action_loading'}}"/>
    </div>
  </form>
</template>
