<template name="bookList">
  {{#if instance.dataReady.get}}
    <h3>{{_ 'book_list.unread_count' count=unreadBooks}}</h3>
    {{#if lastAdded}}
      <p class="lead">
        {{_ 'book_list.last_added' title=lastAdded.title author=lastAdded.author}}
      </p>
    {{/if}}
    <ul class="list-unstyled book-list">
      {{#each books}}
        <li class="book {{#if read}}read{{/if}}">
          <h3 class="book-title">{{title}}</h3>
          <h4 class="book-title">{{author}}</h4>
          <p>{{moFromNow createdAt withoutSuffix}}</p>
          <button type="button" class="btn btn-default" data-action="toggle-read">{{#unless read}}{{_ 'book_list.read'}}{{else}}{{_ 'book_list.read'}}{{/unless}}</button>
          <button type="button" class="btn btn-danger" data-action="delete-book">{{_ 'book_list.delete'}}</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    {{> spinner}}
  {{/if}}
</template>
